In [1]:
import pandas as pd

In [2]:
resnet=pd.read_csv("metrics.csv")

In [3]:
resnet.head(5)

,train_loss,step,epoch,100_accratio,the_val_loss,val_loss,2000_accratio,1000_accratio,500_accratio
0,640738.269407,49,0,NaN,NaN,NaN,NaN,NaN,NaN
1,606832.567116,99,0,NaN,NaN,NaN,NaN,NaN,NaN
2,594247.611308,149,0,NaN,NaN,NaN,NaN,NaN,NaN
3,638146.230562,199,0,NaN,NaN,NaN,NaN,NaN,NaN
4,608146.950841,249,0,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
resnet[(resnet["epoch"]== 11)&resnet["train_loss"].isnull()]

,train_loss,step,epoch,100_accratio,the_val_loss,val_loss,2000_accratio,1000_accratio,500_accratio
7327,NaN,361961,11,0.013399,4204.635254,537739.681916,0.425562,0.277407,0.141297
7408,NaN,365961,11,0.013083,4201.728516,537105.965554,0.430344,0.279482,0.141794
7489,NaN,369961,11,0.012677,4210.088379,538365.520005,0.420509,0.275738,0.138861
7570,NaN,373961,11,0.012903,4207.649414,538030.414059,0.421907,0.274159,0.137643
7651,NaN,377961,11,0.013399,4206.125488,537461.070571,0.423757,0.273301,0.138636
7732,NaN,381961,11,0.012452,4194.739746,536100.305361,0.423622,0.271542,0.136335
7813,NaN,385961,11,0.013128,NaN,NaN,0.418930,0.268564,0.136515
7894,NaN,389961,11,0.013579,4211.675293,538328.990560,0.422449,0.271316,0.136786

In [11]:
resnet[(resnet["epoch"]== 12)&resnet["train_loss"].isnull()]

,train_loss,step,epoch,100_accratio,the_val_loss,val_loss,2000_accratio,1000_accratio,500_accratio
7986,NaN,394503,12,0.015249,4110.859375,525716.672180,0.439231,0.287422,0.148110
8067,NaN,398503,12,0.014707,4112.625977,525531.017041,0.443292,0.293242,0.149824
8148,NaN,402503,12,0.013624,NaN,NaN,0.438961,0.282595,0.142110
8229,NaN,406503,12,0.012993,4110.878418,525186.037164,0.436479,0.283407,0.145448

In [12]:
resnet[(resnet["epoch"]== 0)&resnet["train_loss"].isnull()]

,train_loss,step,epoch,100_accratio,the_val_loss,val_loss,2000_accratio,1000_accratio,500_accratio
80,NaN,3999,0,0.006406,4707.165039,601614.937051,0.311152,0.154967,0.079717
161,NaN,7999,0,0.009113,4614.905762,590176.929448,0.343860,0.176171,0.080529
242,NaN,11999,0,0.009925,4563.610840,583246.856342,0.353424,0.189795,0.091491
323,NaN,15999,0,0.006902,4587.508789,586355.014167,0.337499,0.182126,0.087792
404,NaN,19999,0,0.008256,4549.852539,581167.998721,0.346883,0.178923,0.077596
485,NaN,23999,0,0.006587,4520.167480,577540.216188,0.365966,0.204548,0.093702
566,NaN,27999,0,0.010106,4522.723633,578003.634740,0.362131,0.218533,0.108996
647,NaN,31999,0,0.010331,4468.072266,571197.069085,0.384057,0.214247,0.102319

In [13]:
resnet[(resnet["epoch"]== 10)&resnet["train_loss"].isnull()]

,train_loss,step,epoch,100_accratio,the_val_loss,val_loss,2000_accratio,1000_accratio,500_accratio
6668,NaN,329419,10,0.014527,4176.562988,534001.014658,0.427817,0.279166,0.140891
6749,NaN,333419,10,0.013489,4225.687988,540207.046374,0.421140,0.270279,0.133583
6830,NaN,337419,10,0.013218,4188.765625,535654.238890,0.420148,0.274384,0.139944
6911,NaN,341419,10,0.012767,4197.298340,536408.674953,0.425968,0.271677,0.134034
6992,NaN,345419,10,0.013624,4196.506836,536497.392994,0.425111,0.273392,0.138455
7073,NaN,349419,10,0.012361,4194.701660,536199.042337,0.423577,0.266444,0.134711
7154,NaN,353419,10,0.014346,4173.261719,533165.894903,0.428133,0.275151,0.139177
7235,NaN,357419,10,0.012632,4218.334961,539361.817209,0.421727,0.268429,0.131733